extends layout

block content
  .container
    br
    .jumbotron
      h1.dispaly-4 Start Chatting
      br
      input#txtName.form-control(placeholder="Name" type="text")
      br
      textarea#txtMessage.form-control(placeholder="Message")
      br
      button#send.btn.btn-success Send
    #messages

  include ../public/javascripts/script.js
