extends layout

block content
  .container
    .jumbotron
      .row
        .col-4.offset-4
          h1.display-4.text-center Scan QR
      .row
        .col-4.offset-4
          center
            #printQR

  include ../public/javascripts/qr.js
